# Node.js
node_modules/
npm-debug.log

# macOS
.DS_Store

# Logs
logs/
*.log
*.log.*

# Operating System files
Thumbs.db
desktop.ini

# Environment variables
.env
.venv
fetchai_env

# IDEs
.idea/
.vscode/
*.sublime-workspace

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env/
venv/
env/
pip-log.txt
pytest_cache/
.pytest_cache/
migrations/
instance/
*.pyo

# Java
*.class
*.jar
*.war
*.ear
*.iml
target/

# Ruby
*.gem
*.rbc
.bundle
log/
tmp/
vendor/bundle/
*.rvmrc

# Go
vendor/
*.exe
*.test
*.out

# Java/Android
.gradle/
build/
local.properties
*.keystore
*.jks

# Xcode/iOS
*.xcworkspace
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
Pods/
Podfile.lock

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
flutter_export_environment.sh

# Text editor backups
*~
*.swp
*.swo
